.grid-top {
    min-height: 250px;
}

#total-count {
    $boxWidth: 180px;
    $boxHeight: 80px;
    width: 25%;
    float: left;
    text-align: center;

    .total-count-box {
        width: $boxWidth;
        height: $boxHeight;
        margin: 0 auto;
        box-sizing: border-box;
        padding: $smallPadding 0 0 0;
        text-align: center;
    }
    .total-count-value {
        background-color: $redColor;
        color: $fontColorAlt;
        font-size: $fontSizeBigger;
        &:hover {
            background-color: $redColor2;
        }
    }
    .total-count-logged {
        margin-top: $standardPadding;
        background-color: $greenColor;
        color: $fontColorAlt;
        font-size: $fontSizeBigger;
    }

    .total-count-sub-text {
        padding: 0;
        color: $fontColorAlt;
        font-size: $fontSizeSmall;
    }

    .current-date {
        height: 50px;
        margin: $standardPadding auto;
        background-color: $yellowColor;
        color: $fontColorAlt;
        font-size: $fontSizeNormal;
    }
}

.users-in-time {
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding: 0 0 0 $bigPadding;
    text-align: center;

    .users-in-time-header {
        font-size: $fontSizeBig;
    }
}