.sections-count {
    width: 25%;
    float: left;
    text-align: center;

    .sections-count-header {
        margin: 0 0 $bigPadding 0;
        font-size: $fontSizeBig;
    }
    #sections-count-list {
        margin: 0 auto;

        .table-th {
            text-align: center;
        }
    }
}

.traffic-count {
    width: 25%;
    float: left;
    margin-top: $bigPadding;
    text-align: center;

    .traffic-count-header {
        margin: 0 0 $bigPadding 0;
        font-size: $fontSizeBig;
    }
    #traffic-count-list {
        margin: 0 auto;

        .table-th {
            text-align: center;
        }
    }
}

.pages-count {
    box-sizing: border-box;
    width: 75%;
    float: right;
    padding: 0 0 0 $bigPadding;
    text-align: center;

    .pages-count-header {
        margin: 0 0 $bigPadding 0;
        font-size: $fontSizeBig;
    }
    #pages-count-list {
        margin: 0 auto;

        .table-th {
            text-align: center;
        }
        td {
            max-width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}