$headerBackgroundColor: #3c8dbc;
$navbarHeaderBackgroundColor: #367fa9;
$redColor: #f56954;
$redColor2: #F54F02;
$yellowColor: #f39c12;
$greenColor: #00a65a;

$fontColorAlt: #f9f9f9;

$fontFamily: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;

$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeBig: 20px;
$fontSizeBigger: 40px;

$smallPadding: 5px;
$standardPadding: 12px;
$bigPadding: 24px;

body {
  font-family: $fontFamily;
  font-size: $fontSizeNormal;
}

#main-header {
  .navbar-brand {
    background-color: $navbarHeaderBackgroundColor;
    color: $fontColorAlt;
  }

  .minmote-logo,
  .godt-logo {
    float: right;
    max-height: 50px;
  }
}

.grid-top {
  margin: 0 0 3*$bigPadding 0;
}

@import "grid-top";
@import "grid-middle";