<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>PageChartLive</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>
    <header id="main-header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Page Live Chart</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Dashboard</a></li>
                </ul>
                <% if(domain === 'www.minmote.no') { %>
                    <img class="minmote-logo" src="images/minmote-logo.png"></i>
                <% } else if(domain === 'www.godt.no') { %>
                    <img class="godt-logo" src="images/godt-logo.png"></i>
                <% }  %>
            </div>
        </nav>
    </header>

    <section class="grid-top">
        <div id="total-count"></div>
        <div class="users-in-time">
            <header class="users-in-time-header">Users amount</header>
            <div id="users-in-time-chart"></div>
        </div>
    </section>
    <section class="grid-middle">
        <div class="sections-count">
            <header class="sections-count-header">Users in sections</header>
            <table id="sections-count-list" class="table table-striped"></table>
        </div>
        <div class="pages-count">
            <header class="pages-count-header">Users on pages</header>
            <table id="pages-count-list" class="table table-striped"></table>
        </div>
        <div class="traffic-count">
            <header class="traffic-count-header">Traffic</header>
            <table id="traffic-count-list" class="table table-striped"></table>
        </div>
    </section>

    <script>window.domain = "<%= domain %>";window.apiToken = "<%= apiToken %>";</script>
    <script src="http://www.google.com/jsapi"></script>
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <script src="bower_components/chartkick/chartkick.js"></script>
    <script src="js/libs/tsort.min.js"></script>
    <script src="bower_components/requirejs/require.js" data-main="js/bootstrap.js"></script>
</body>
</html>