/* line 21, ../scss/main.scss */
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* line 27, ../scss/main.scss */
#main-header .navbar-brand {
  background-color: #367fa9;
  color: #f9f9f9;
}
/* line 33, ../scss/main.scss */
#main-header .minmote-logo,
#main-header .godt-logo {
  float: right;
  max-height: 50px;
}

/* line 39, ../scss/main.scss */
.grid-top {
  margin: 0 0 72px 0;
}

/* line 1, ../scss/_grid-top.scss */
.grid-top {
  min-height: 250px;
}

/* line 5, ../scss/_grid-top.scss */
#total-count {
  width: 25%;
  float: left;
  text-align: center;
}
/* line 12, ../scss/_grid-top.scss */
#total-count .total-count-box {
  width: 180px;
  height: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px 0 0 0;
  text-align: center;
}
/* line 20, ../scss/_grid-top.scss */
#total-count .total-count-value {
  background-color: #f56954;
  color: #f9f9f9;
  font-size: 40px;
}
/* line 24, ../scss/_grid-top.scss */
#total-count .total-count-value:hover {
  background-color: #f54f02;
}
/* line 28, ../scss/_grid-top.scss */
#total-count .total-count-logged {
  margin-top: 12px;
  background-color: #00a65a;
  color: #f9f9f9;
  font-size: 40px;
}
/* line 35, ../scss/_grid-top.scss */
#total-count .total-count-sub-text {
  padding: 0;
  color: #f9f9f9;
  font-size: 12px;
}
/* line 41, ../scss/_grid-top.scss */
#total-count .current-date {
  height: 50px;
  margin: 12px auto;
  background-color: #f39c12;
  color: #f9f9f9;
  font-size: 16px;
}

/* line 50, ../scss/_grid-top.scss */
.users-in-time {
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding: 0 0 0 24px;
  text-align: center;
}
/* line 57, ../scss/_grid-top.scss */
.users-in-time .users-in-time-header {
  font-size: 20px;
}

/* line 1, ../scss/_grid-middle.scss */
.sections-count {
  width: 25%;
  float: left;
  text-align: center;
}
/* line 6, ../scss/_grid-middle.scss */
.sections-count .sections-count-header {
  margin: 0 0 24px 0;
  font-size: 20px;
}
/* line 10, ../scss/_grid-middle.scss */
.sections-count #sections-count-list {
  margin: 0 auto;
}
/* line 13, ../scss/_grid-middle.scss */
.sections-count #sections-count-list .table-th {
  text-align: center;
}

/* line 19, ../scss/_grid-middle.scss */
.traffic-count {
  width: 25%;
  float: left;
  margin-top: 24px;
  text-align: center;
}
/* line 25, ../scss/_grid-middle.scss */
.traffic-count .traffic-count-header {
  margin: 0 0 24px 0;
  font-size: 20px;
}
/* line 29, ../scss/_grid-middle.scss */
.traffic-count #traffic-count-list {
  margin: 0 auto;
}
/* line 32, ../scss/_grid-middle.scss */
.traffic-count #traffic-count-list .table-th {
  text-align: center;
}

/* line 38, ../scss/_grid-middle.scss */
.pages-count {
  box-sizing: border-box;
  width: 75%;
  float: right;
  padding: 0 0 0 24px;
  text-align: center;
}
/* line 45, ../scss/_grid-middle.scss */
.pages-count .pages-count-header {
  margin: 0 0 24px 0;
  font-size: 20px;
}
/* line 49, ../scss/_grid-middle.scss */
.pages-count #pages-count-list {
  margin: 0 auto;
}
/* line 52, ../scss/_grid-middle.scss */
.pages-count #pages-count-list .table-th {
  text-align: center;
}
/* line 55, ../scss/_grid-middle.scss */
.pages-count #pages-count-list td {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}
