<tr>
   <th data-sortBy="text" class="table-th">Page title</th>
   <th data-sortBy="numeric" class="table-th">Visits</th>
   <th data-sortBy="numeric" class="table-th">Logged in visitors</th>
</tr>
<% _.forEach(pagesCount, function (page) { %>
   <tr>
      <td><a href="http://<%= domain %>/<%= page.page %>" target="_blank"><%= page.title %></a></td>
      <td><%= page.count %></td>
      <td><%= page.loggedCount %></td>
   </tr>
<% }); %>