<tr>
   <th data-sortBy="text" class="table-th">Section name</th>
   <th data-sortBy="numeric" class="table-th">Visits</th>
</tr>
<% _.forEach(sectionsCount, function (section) { %>
   <tr>
      <td ><%= section.section %></td>
      <td ><%= section.count %></td>
   </tr>
<% }); %>