<div class="total-count-value total-count-box">
    <div><%= totalCount.count %></div>
    <div class="total-count-sub-text">Total visitors</div>
</div>
<div class="total-count-logged total-count-box">
    <div><%= totalCount.loggedCount %></div>
    <div class="total-count-sub-text">Logged visitors</div>
</div>
<div class="current-date total-count-box">
    <div><%= totalCount.currentData %></div>
</div>