<tr>
   <th data-sortBy="text" class="table-th">Source</th>
   <th data-sortBy="numeric" class="table-th">Visitors</th>
</tr>
<% _.forEach(trafficCount, function (traffic) { %>
   <tr>
      <td ><%= traffic.source %></td>
      <td ><%= traffic.count %></td>
   </tr>
<% }); %>